extends layout

block content
  div#myCarousel.carousel.slide(data-ride='carousel', data-interval='6000')
  
    div.carousel-inner(role='listbox')

    div.item.active
        img.img-responsive(src='/images/banner1.svg', alt='Nodejs')
        div.carousel-caption(role='option')
          p Deployed using VSTS. Learn how to build & deploy Nodejs apps 
            a.btn.btn-default(href='https://nodejs.org/en/docs/') Learn More 

  div.row
    div.col-md-4
      h2 Developed with
      ul
        li 
          a(href='https://www.visualstudio.com/products/code-vs') Visual Studio Code
        li
          a(href='https://www.visualstudio.com/products/visual-studio-team-services-vs') Team Services
        li
          a(href='http://yeoman.io/') Yeoman                        
 
    div.col-md-4
      h2 Deployment
      ul
        li 
          a(href='https://azure.microsoft.com/en-us/services/app-service/') Azure App Service
        li
          a(href='https://azure.microsoft.com/en-us/services/virtual-machines/') Azure IaaS Linux via Docker
        li
          a(href='https://azure.microsoft.com/en-us/services/container-service/') Azure Container Service  

    div.col-md-4
      h2 Application uses
      ul
        li Sample pages using 
          a(href='http://expressjs.com/') Express
          | with
          a(href='https://pugjs.org/api/getting-started.html') Pug
        li
          a(href='https://go.microsoft.com/fwlink/?LinkId=518004') Bower 
          | for managing client-side libraries
        li Theming using 
          a(href='https://go.microsoft.com/fwlink/?LinkID=398939') Bootstrap     